<!DOCTYPE html>
<html lang="en">
   <head>
      <!-- basic -->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <!-- mobile metas -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="viewport" content="initial-scale=1, maximum-scale=1">
      <!-- site metas -->
      <title>TimeSaverGoods</title>
      <meta name="keywords" content="">
      <meta name="description" content="">
      <meta name="author" content="">
      <!-- bootstrap css -->
      <link rel="stylesheet" href="css/bootstrap.min.css">
      <!-- style css -->
      <link rel="stylesheet" href="css/style.css">
      <!-- Responsive-->
      <link rel="stylesheet" href="css/responsive.css">
      <!-- fevicon -->
      <link rel="icon" href="images/favicon.ico" type="image/x-icon" />
      <!-- Scrollbar Custom CSS -->
      <link rel="stylesheet" href="css/jquery.mCustomScrollbar.min.css">
      <!-- Tweaks for older IEs-->
      <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
   </head>

   <style>
      .infoCardHome{
         background: black;
         color:   white;
         padding: 50px;
         width: 100%;
      }

      .infoCardHome h2{
         color: white;
      }

      .homeSection {
         margin-top: 80px;
         margin-bottom: 50px;
      }
   </style>

   <header>
      <div class="header">
         <div class="container-fluid">
            <div class="row">
               <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col logo_section">
                  <div class="full">
                     <div class="center-desk">
                        <div class="logo">
                           <a href="index.html"><img src="images/logo.png" alt="#" /></a>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9">
                  <nav class="navigation navbar navbar-expand-md navbar-dark ">
                     <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
                     <span class="navbar-toggler-icon"></span>
                     </button>
                     <div class="collapse navbar-collapse" id="navbarsExample04">
                        <ul class="navbar-nav mr-auto">
                           <li class="nav-item active">
                              <a class="nav-link" th:href="@{/}">Startseite</a>
                           </li>
                           <li class="nav-item">
                              <a class="nav-link" th:href="@{/products}">Produkte</a>
                           </li>
                           <li class="nav-item">
                              <a class="nav-link" th:href="@{/about}">Über Uns</a>
                           </li>
                           <li class="nav-item">
                              <a class="nav-link" th:href="@{/impressum}">Impressum</a>
                           </li>
                           <li class="nav-item">
                              <a class="nav-link" th:href="@{/datenschutz}">Datenschutz</a>
                           </li>
                           <li class="nav-item d_none sea_icon">
                              <a class="nav-link" href="#"><i class="fa fa-shopping-bag" aria-hidden="true"></i><i class="fa fa-search" aria-hidden="true"></i></a>
                           </li>
                           <li class="nav-item d_none login_btn">
                              <a class="nav-link" th:href="@{/login}">Login</a>
                           </li>
                           <li class="nav-item d_none">
                              <a class="nav-link" th:href="@{/cart}"><img src="images/cart.svg"></a>
                           </li>
                        </ul>
                     </div>
                  </nav>
               </div>
            </div>
         </div>
      </div>
   </header>

   <body class="main-layout">
      <div class="loader_bg">
         <div class="loader"><img src="images/loading.gif" alt="#" /></div>
      </div>

      <section class="banner_main">
         <div id="banner1" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
               <li data-target="#banner1" data-slide-to="0" class="active"></li>
               <li data-target="#banner1" data-slide-to="1"></li>
               <li data-target="#banner1" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
               <div class="carousel-item active">
                  <div class="container">
                     <div class="carousel-caption">
                        <div class="text-bg">
                           <h1> <span class="blu">Herzlich Willkommen</br></br></span>bei TimeSaverGoods!</h1>
                           <figure><img src="images/placeholder.jpg" alt="#"/></figure>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="carousel-item">
                  <div class="container">
                     <div class="carousel-caption">
                        <div class="text-bg">
                           <h1> <span class="blu">Never Run Out Again!</h1>
                           <figure><img src="images/placeholder.jpg" alt="#"/></figure>
                           <a class="read_more" href="#">Jetzt einkaufen</a>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="carousel-item">
                  <div class="container">
                     <div class="carousel-caption">
                        <div class="text-bg">
                           <h1> <span class="blu">Schönheit bis zur Haustür geliefert</h1>
                           <figure><img src="images/placeholder.jpg" alt="#"/></figure>
                           <a class="read_more" href="#">Jetzt einkaufen</a>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <a class="carousel-control-prev" href="#banner1" role="button" data-slide="prev">
            <i class="fa fa-arrow-left" aria-hidden="true"></i>
            </a>
            <a class="carousel-control-next" href="#banner1" role="button" data-slide="next">
            <i class="fa fa-arrow-right" aria-hidden="true"></i>
            </a>
         </div>
      </section>

      <div class="container-fluid">
         <div class="row">
            <div class="shop">
               <div class="container-fluid">
                  <div class="row">
                     <div class="col-md-5">
                        <figure> <img src="images/BildWebsite.jpeg" alt="#"/></figure>
                     </div>
                     <div class="col-md-7 padding_right" style="width: 100%">
                        <div class="max_width">
                           <div class="titlepage" >
                              <h2>Über diesen Shop</h2>
                              <p>Bei TimeSaverGoods liegt es uns am Herzen, Ihr Leben zu vereinfachen. Unser Shop ist bestrebt, Sie über unser praktisches Abonnementmodell mit hochwertigen Haushaltsartikeln und Kosmetika zu versorgen. Mit unserem Engagement für individuelle Anpassung und erstklassigem Service sind wir hier, um Ihre täglichen Routinen zum Kinderspiel zu machen. Willkommen bei einer neuen Art des Einkaufens.</p>
                              <a class="read_more" style="color:white" th:href="@{/about}">Mehr erfahren</a>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>

      <div class="container-fluid">
         <div class="clients">
            <div class="container-fluid">
               <div class="row">
                  <div class="glasses">
                     <div class="container-fluid">
                        <div class="row">
                           <div class="col-md-10 offset-md-1">
                              <div class="titlepage">
                                 <h2>Unsere Produkte</h2>
                                 <p>Entdecken Sie bei TimeSaverGoods eine kuratierte Auswahl an erstklassigen Haushaltsartikeln und Kosmetika. Unsere Produkte werden sorgfältig ausgewählt, um Ihre täglichen Bedürfnisse unter Berücksichtigung von Qualität und Komfort zu erfüllen. Von alltäglichen Haushaltsgegenständen bis hin zu Beauty-Must-Haves – bei uns sind Sie an der richtigen Adresse. Entdecken Sie unser Sortiment und verbessern Sie Ihren Alltag mit Produkten, denen Sie vertrauen können.</p>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="container-fluid">
                        <div class="row">
                           <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6" th:each="product : ${allProductList}">
                              <figure><img th:src="${product.defaultImage.url}" alt="#"/></figure>
                              <input type="hidden" th:value="${product.id}" name="id"/>
                              <p th:text="${product.name}"></p>
                              <p style="display: none;" th:text="${product.defaultImage.url}"></p>
                              <a th:href="@{/products/{id}(id=${product.id})}"><button type="submit" class="read_more">Mehr erfahren</button></a>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>

      <div class="container-fluid ">
         <div class="row">
            <div class="shop">
               <div class="container-fluid">
                  <div class="row">
                     <div class="col-md-5">
                        <figure><img src="images/home2.jpg" alt="#" height="300px"/></figure>
                     </div>
                     <div class="col-md-7 padding_right" style="width: 100%">
                        <div class="max_width">
                           <div class="titlepage">
                              <h2>Einfaches Abonnement</h2>
                              <p>Verabschieden Sie sich vom lästigen Einkauf von Alltagsgegenständen. Mit unserem FMCD-Abonnementmodell können Sie Ihre Lieferungen individuell anpassen und die Produkte genießen, die Sie lieben, ohne einen Finger zu rühren.</p>
                              <a class="read_more" th:href="@{/products}">Jetzt einkaufen</a>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>

      <div class="container-fluid">
         <div class="row">
            <div class="clients">
               <div class="container-fluid">
                  <div class="row">
                     <div class="col-md-12">
                        <div class="titlepage">
                           <h2>Was unsere Kunden denken</h2>
                           <p>Das Feedback unserer Kunden sagt Bände über die Qualität unserer Dienstleistung. Wir sind stolz auf die positiven Bewertungen und Erfahrungen unserer geschätzten Kunden. Es ist ihre Zufriedenheit, die uns dazu antreibt, uns kontinuierlich zu verbessern und das Beste zu liefern. Vielen Dank, dass Sie sich für uns entschieden haben und ein wesentlicher Bestandteil unserer Reise sind.</p>
                        </div>
                     </div>
                  </div>
                  <div class="row">
                     <div class="col-md-12">
                        <div id="myCarousel" class="carousel slide clients_Carousel " data-ride="carousel">
                           <ol class="carousel-indicators">
                              <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                              <li data-target="#myCarousel" data-slide-to="1"></li>
                              <li data-target="#myCarousel" data-slide-to="2"></li>
                           </ol>
                           <div class="carousel-inner">
                              <div class="carousel-item active">
                                 <div class="container">
                                    <div class="carousel-caption ">
                                       <div class="row">
                                          <div class="col-md-12">
                                             <div class="clients_box">
                                                <figure><img src="images/Kundenbewertung3.jpg" alt="#" width="400px"/></figure>
                                                <h3>Henry Bleifuß</h3>
                                                <p>Ich liebe es, wie TimeSaverGoods mein Leben vereinfacht hat. Mit ihrem Abo-Service gehen mir meine Lieblingskosmetik nie aus und die Qualität ihrer Produkte ist erstklassig.</p>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                              <div class="carousel-item">
                                 <div class="container">
                                    <div class="carousel-caption">
                                       <div class="row">
                                          <div class="col-md-12">
                                             <div class="clients_box">
                                                <figure><img src="images/Kundenbewertung2.jpg" alt="#" width="400px"/></figure>
                                                <h3>John Breitheim</h3>
                                                <p>Ein fantastisches Konzept! Die Möglichkeit, meine Lieferungen an meine sich ständig ändernden Bedürfnisse anzupassen, ist bahnbrechend. Außerdem ist ihr Kundenservice unglaublich reaktionsschnell.</p>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                              <div class="carousel-item">
                                 <div class="container">
                                    <div class="carousel-caption">
                                       <div class="row">
                                          <div class="col-md-12">
                                             <div class="clients_box">
                                                <figure><img src="images/Kundenbewertung1.jpg
                                                   " alt="#" width="400px"/></figure>
                                                <h3>Emma Heimland</h3>
                                                <p>Ich bin beruflich vielbeschäftigt und TimeSaverGoods hat den Einkauf von Haushaltsgegenständen zum Kinderspiel gemacht. Ihre Website ist benutzerfreundlich und die Produkte kommen immer pünktlich und in einwandfreiem Zustand an.</p>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
                              <i class='fa fa-angle-left'></i>
                           </a>
                           <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
                              <i class='fa fa-angle-right'></i>
                           </a>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>

      <div class="container-fluid">
         <form id="request" class="main_form">
            <div class="row" style="padding-left: 30%; padding-right: 30%">
               <div class="col-md-12 contactustitle">
                  <h3>Kontaktieren Sie uns!</h3>
               </div>
               <div class="col-md-12 ">
                  <input class="contactus" placeholder="Name" type="type" name="Name">
               </div>
               <div class="col-md-12">
                  <input class="contactus" placeholder="Telefonnummer" type="type" name="Phone Number">
               </div>
               <div class="col-md-12">
                  <input class="contactus" placeholder="Email" type="type" name="Email">
               </div>
               <div class="col-md-12">
                  <input class="contactusmess" placeholder="Nachricht" type="type" Message="Name">
               </div>
               <div class="col-md-12">
                  <button class="send_btn">Abschicken</button>
               </div>
            </div>
         </form>
      </div>

</body>

<footer class="mt-auto">
   <div class="footer">
      <div class="container">
         <div class="row">
            <div class="col-md-8 offset-md-2">
               <ul class="location_icon">
                  <li><a href="#"><i class="fa fa-map-marker" aria-hidden="true"></i></a><br>TSG GmbH<br>Weg der Freundschaft 4<br>D-07546 Gera</li>
                  <li><a href="#"><i class="fa fa-phone" aria-hidden="true"></i></a><br> +49 15723228432<br><br><br></li>
                  <li><a href="#"><i class="fa fa-envelope" aria-hidden="true"></i></a><br> support@tsg.com<br><br><br></li>
               </ul>
            </div>
         </div>
      </div>
      <div class="copyright">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <p>© 2023 Alle Rechte vorbehalten. Design by TimeSaverGoods</a></p>
               </div>
            </div>
         </div>
      </div>
   </div>
</footer>
      
   <script src="js/jquery.min.js"></script>
   <script src="js/popper.min.js"></script>
   <script src="js/bootstrap.bundle.min.js"></script>
   <script src="js/jquery-3.0.0.min.js"></script>
   <script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
   <script src="js/custom.js"></script>
</html>